__pycache__/*
app.db
*.pyc
helper_scripts/
back_end/temp/*.bed
back_end/temp/*.beddb
back_end/temp/*.csv
back_end/temp/*.mcool
back_end/temp/*.bedpe
back_end/temp/*.bed2ddb
back_end/temp/*.bw
back_end/temp/*.npy
back_end/temp/*.bigwig
back_end/temp/*.bigWig
back_end/temp/*.chrom.sizes
back_end/temp/*arms*
back_end/data/mysql/*
.vscode/*
*.csv
workdir/higlass_data/
workdir/higlass_temp/
workdir/mysql/*

*.egg-info

keys/*

.DS_Store
front_end/node_modules/
front_end/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
