__pycache__/*
app.db
*.pyc
helper_scripts/
back_end/temp/
.vscode/*
*.csv
workdir/higlass_data/
workdir/higlass_temp/

.DS_Store
front_end/node_modules/
front_end/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
