p {
    text-align: justify !important;
}

#shortcuts h3 {
    color: #ccc !important;
}

#chapter h3  {
    text-align: left;
}

h1 {
    text-align: left !important;
}


#chapter h2 {
    text-align: left;
}


.padding.highlightable {
    max-width: 1500px;
    margin: auto;
}


code {
    padding: 0.2em 0.4em;
    background: rgba(175,184,193,0.2);
    border-radius: 6px;
    font-size: 85%;
    border: 0px;
}

.three-quarter-width {
    width: 75% !important;
}

.half-width {
    width: 50% !important;
}

.quarter-width {
    width: 25% !important;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/docs/css/fonts/MaterialIcons-Regular.woff2) format('woff2');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }