@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: #87b4d4, // The primary color of your brand
    accent: #264D69 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

.button-container .md-table-head-container {
    height: 50px !important;
    padding: 0px;
}

.button-container .md-table-head-label {
    height: 50px !important;
}

.md-table table {
    overflow: visible
}