html, body {
    width: 100%;
    height: 100%;
}

table {
font-family: arial, sans-serif;
width: 95vw;
height: 80vh;
}
.center {
margin-left:auto;
margin-right:auto;
}
.table-spacing {
border-spacing: 1vh;
border-collapse: separate;
}
tr.toprow {
height: 5vh;
border-radius: 10px;
border: solid 1px grey;
}
tr.centerrow {
height: 65vh;
border-radius: 10px;
border: solid 1px grey;
}
td {
border-radius: 10px;
border: solid 1px grey;
outline: none;
}
#filePath {
text-align: center;
width: 100vw;
margin: auto;
position: relative;
left: 45%;
}