{% extends "base.html" %}

{% block content %}
<div style="display: inline-block ;text-align: left; width: 40%;">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div style="display: inline-block; margin-left: 2.2%;">
        {{ form.region.label }}<br>
        {{ form.region(size=32) }}<br>
        {% for error in form.region.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="display: inline-block;">
        {{ form.cooler.label }}<br>
        {{ form.cooler(size=64) }}<br>
        {% for error in form.cooler.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="display: inline-block; margin-bottom: 3%; vertical-align: center;">{{ form.submit_select() }}</div>
  </form>
</div>

<div style="display: inline-block; text-align: center;">
  <form action="" method="post">
    {{ form_pileup.hidden_tag() }}
    <div style="display: inline-block;">
        {{ form_pileup.windowsize.label }}<br>
        {{ form_pileup.windowsize(size=2) }}<br>
        {% for error in form_pileup.windowsize.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="display: inline-block; vertical-align: center;">
        {{ form_pileup.binsize.label }}<br>
        {{ form_pileup.binsize(size=64) }}<br>
        {% for error in form_pileup.binsize.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="display: inline-block">{{ form_pileup.submit_define() }}</div>
  </form>
</div>

<table class="center" >
  <tr>
    <td id="higlass" style="width:40%"></td>
    <td>
      <div id="heatmap", style="margin: 0 auto; height: 50%; width: 40%;"></div>
      <div id="slider" style="width: 50%; margin: 0 auto;"></div>
      <div id="sliderText" style="text-align: center;"></div>
    </td>
  </tr>
</table>
{% endblock %}

{% block script %}
    <script>
    const hgApi = window.hglib.viewer(
      document.getElementById("higlass"),
      {{ config | safe }},
    { bounded: true}
  );
  </script>
  <script src="{{ url_for('static', filename='drawHeatmap.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='slider.js') }}" charset="utf-8"></script>
{% endblock %}