{% extends "base.html" %}

{% block content %}

<table class="center table-spacing table-borderless" >
  <tr class="toprow table-borderless">
    <td>
        <div style="display: inline-block ;text-align: left; margin-left: 2.2vh; margin-bottom: 1vh;">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div style="display: inline-block; margin: auto; height: 5vh;">
                {{ form.region.label }}<br>
                {{ form.region(size=2) }}<br>
                {% for error in form.region.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div style="display: inline-block; margin: auto; height: 5vh;">
                {{ form.cooler.label }}<br>
                {{ form.cooler(size=2) }}<br>
                {% for error in form.cooler.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div style="display: inline-block; margin: auto;">{{ form.submit_select() }}</div>
        </form>
      </div>
    </td>
    <td>
        <div style="display: inline-block; text-align: left; margin-left: 2.2vh; margin-bottom: 1vh;">
        <form action="" method="post">
            {{ form_region_select.hidden_tag() }}
            <div style="display: inline-block; margin: auto; height: 5vh;">
                {{ form_region_select.windowsize.label }}<br>
                {{ form_region_select.windowsize(size=2) }}<br>
                {% for error in form_region_select.windowsize.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div style="display: inline-block; margin: auto;">{{ form_region_select.submit_define() }}</div>
        </form>
      </div>

      <div style="display: inline-block; text-align: left; margin-left: 2.2vh; margin-bottom: 1vh;">
        <form action="" method="post">
            {{ form_pileup.hidden_tag() }}
            <div style="display: inline-block; margin: auto; height: 5vh;">
                {{ form_pileup.binsize.label }}<br>
                {{ form_pileup.binsize(size=2) }}<br>
                {% for error in form_pileup.binsize.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div style="display: inline-block; margin: auto;">{{ form_pileup.submit_pileup() }}</div>
        </form>
      </div>

    </td>
  </tr>
  <tr class="centerrow">
    <td id="higlass" style="width:40vw"></td>
    <td>
      <div id="heatmap", style="margin: 0 auto; height: 250px; width: 250px;"></div>
      <div id="slider" style="width: 250px; margin: 0 auto;"></div>
      <div id="sliderText" style="text-align: center;"></div>
    </td>
  </tr>
</table>
{% endblock %}

{% block script %}
    <script>
    const hgApi = window.hglib.viewer(
      document.getElementById("higlass"),
      {{ config | safe }},
    { bounded: true}
  );
  // define location of pileup file
  let pileup_path = {{ pileup_path | tojson }};
  </script>
  <script src="{{ url_for('static', filename='drawHeatmap.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='slider.js') }}" charset="utf-8"></script>
{% endblock %}